<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <ul>
            <li>Git地址：<a href="https://github.com/1046762075/mall" target="_blank">https://github.com/1046762075/mall</a></li>
        </ul>
    </div>
</div>
</body>
</html>